/* There are two hacks defined here to work around the lack of classes in markdown.
 * The first is that the 'i' element is used exclusively in the contact section to
 * make links explicit in print. The second is that the 'hr' element is invisible
 * and used throughout the document to force a page break in print.
 */

body {
  font-family: Arial, sans-serif;
  font-size: 22px;
}

@media only screen {
  body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }
}

@media only screen and (max-device-width : 799px) {
  body {
    font-size: 40px;
    max-width: none;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only print {
  body {
    font-size: 18px;
  }

  a {
    color: initial;
    text-decoration: none;
  }
}

@page {
  margin: 2cm;
}

h1, h2 {
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: center;
}

@media only print {
  h1, h2 {
    margin-top: 2cm;
  }
}

h2 {
  page-break-before: always;
}

p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  page-break-inside: avoid;
}

ul {
  page-break-inside: avoid;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  page-break-inside: avoid;
}

hr {
  visibility: hidden;
  margin: 0;
  border: 0;
  page-break-after: always;
}

@media only print {
  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

#contact i {
  font-style: normal;
  
}

@media only screen and (max-device-width : 799px) {
  #contact p {
    font-size: 3rem;
    line-height: 2;
  }
}

@media only print {
  #contact {
    margin-top: 0;
    margin-bottom: 1cm;
  }

  #contact i a:after {
    content: ": " attr(href) " ";
  }
}

#skill-summary p {
  margin-top: 2rem;
}

#skill-summary thead {
  display: none;
}

#skill-summary tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skill-summary tr {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
}

#skill-summary td:nth-of-type(2) {
    text-align: right;
}

#interesting-reading h2 {
  page-break-before: initial;
}

#interesting-reading p {
  text-align: center;
}

#references h2 {
  page-break-before: initial;
}

#references p {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

@media only screen and (max-device-width : 799px) {
  #references p {
    display: block;
    font-size: 3rem;
    line-height: 2;
    margin-top: 3rem;
  }
}

@media only print {
  #references p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
